<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--引入核心样式与皮肤包 -->
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ static_url('css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/body.css') }}" rel="stylesheet">
    <title>我的小站</title>

</head>


<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">微主页</a></li>
                <li><a href="#">创建菜单</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

</body>

<!-- 放置页面末尾 加快页面加载速度-->
<script src="{{ static_url('js/jquery-2.1.1.min.js')}}"></script>
<script src="{{ static_url('js/bootstrap.min.js')}}"></script>
</html>

<script>
    $(function () {
        $('#navbar').children("ul").each(function () {

        });
        var nua = navigator.userAgent
        var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1)
        if (isAndroid) {
            $('select.form-control').removeClass('form-control').css('width', '100%')
        }

    });
</script>
