<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--引入核心样式与皮肤包 -->
    <link href="{{ static_url('css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ static_url('css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/body.css') }}" rel="stylesheet">
    <title>摇红包</title>
</head>
<body role="document">
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div style="height: 70px">
                <div style="align-content: center;text-align: center">
                    <h1>抢红包</h1>

                    <p>祝你好运</p>
                </div>
            </div>

            <div id="shark_center" style="margin-top: 2px;text-align: center;">
                <img style="margin: 2px;width: 98%;height: 98%" src="{{ static_url('img/hb.jpg') }}" alt="图片">
            </div>
            <div style="text-align: center;height: 20px;line-height: 20px">
                <p>已有33人中奖</p>
            </div>
        </div>
    </div>

</div>
</body>
<script src="{{ static_url('js/jquery-2.1.1.min.js')}}"></script>
<script src="{{ static_url('js/bootstrap.min.js')}}"></script>
</html>

<script>
    $(function () {
        debugger;
        var w_height = $(window).height() - 140;
        $("#shark_center").attr("style", "height:" + w_height + "px");
        //屏幕旋转事件
        //orientationchange
        $(window).on('orientationchange', function () {
            var w_height = $(window).height() - 140;
            $("#shark_center").attr("style", "height:" + w_height + "px");
        });
    });
</script>
