
body {
    background-size: auto;
}

.bgImg {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.ybImg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.qtImg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.qtOverImg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 45;
}

.bxImg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 25;
}

.yb01Img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 30;
}

.yb02Img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 35;
}

.yb03Img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 40;
}

.resultImg {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 60;
}
.result_yqImg{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 65;
}
