<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--引入核心样式与皮肤包 -->
    <link href="{{ static_url('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ static_url('bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('login/css/main.css') }}" rel="stylesheet">

    <title>微石营销</title>

</head>

<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MircoStone 微石</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">微信配置</a></li>
                <li><a href="#about">查询统计</a></li>
                <li><a href="#contact">问题反馈</a></li>

            </ul>
            <ul class="nav navbar-right">
                <li><a href="#">Home <span class="badge">42</span></a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->

    </div>
</nav>

<!--左边页-->
<!--主区域-->
<!-- 底面 -->

</body>

<!-- 放置页面末尾 加快页面加载速度-->
<script src="{{ static_url('bootstrap/js/jquery-2.1.1.min.js')}}"></script>
<script src="{{ static_url('bootstrap/js/bootstrap.min.js')}}"></script>
</html>

<script>
    $(function () {

    });
</script>
