<!-- 继承模板页面 -->
{% extends "../../base/main_base.html" %}
<!-- 设置标题-->
{% block title %}MicroStone 微石 {% end %}
<!--引入自定义样式-->
{% block pageCss %}
<link href="{{static_url('common/css/iframe.css')}}" rel="stylesheet" type="text/css"/>
{% end %}
<!-- 首页 BODY HTML -->
{% block bodyhtml %}
<body class="page-header-fixed page-quick-sidebar-over-content page-style-square">
<!-- 导航头 -->
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">
        <!-- 设置图标 -->
        <div class="page-logo">
            <div>
                <p>MicroStone</p>
            </div>
        </div>
        <!-- 顶层目录 -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- 我的消息 -->
                <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <i class="icon-bell"></i>
                    <span class="badge badge-default">
                    <!-- 存放消息数量-->0
                    </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- 存放消息内容-->
                    </ul>
                </li>
                <!-- 我的信箱 -->
                <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <i class="icon-envelope-open"></i>
                    <span class="badge badge-default">
                     <!-- 存放消息数量-->0 </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- 存放消息数量-->
                    </ul>
                </li>
                <!-- 我的任务 -->
                <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <i class="icon-calendar"></i>
                    <span class="badge badge-default">
                    0 </span>
                    </a>
                    <ul class="dropdown-menu extended tasks">
                        <!-- 我的任务 -->
                    </ul>
                </li>
                <!-- 用户信息 -->
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <img alt="" class="img-circle"
                             src="{{static_url('assets/admin/layout/img/avatar3_small.jpg')}}"/>
                    <span class="username username-hide-on-mobile">
                    Nick </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="#">
                                <i class="icon-user"></i> 我的信息 </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-calendar"></i> 我的日历 </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-envelope-open"></i> 我的信箱 <span class="badge badge-danger">
                            0 </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-rocket"></i> 我的任务 <span class="badge badge-success">
                            7 </span>
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-lock"></i> 锁屏 </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-key"></i> 退出 </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 头部导航结束 -->
<!-- 页面内容 -->
<div class="page-container">
    <!-- 左边菜单 -->
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <!-- 定义左边菜单属性 -->
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- 隐藏左边栏 -->
                <li class="sidebar-toggler-wrapper">
                    <div class="sidebar-toggler">
                    </div>
                </li>
                <!-- 查找框 -->
                <li class="sidebar-search-wrapper">
                    <!-- 定义查询Form，后期做为菜单查义 -->
                    <form class="sidebar-search"
                          method="POST">
                        <a href="javascript:;" class="remove">
                            <i class="icon-close"></i>
                        </a>

                        <div class="input-group">
                            <input name="searchMenu" type="text" class="form-control" placeholder="查找">
                            <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                            </span>
                        </div>
                    </form>
                </li>
                <!-- 左边菜单开始 -->
                <li class="start active open">
                    <a href="javascript:;">
                        <i class="icon-home"></i>
                        <span class="title">主页</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="active">
                            <a href="#">
                                <i class="icon-bar-chart"></i>
                                信息配置</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-bulb"></i>
                                自动响应消息</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-graph"></i>
                                发送用户消息</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-basket"></i>
                        <span class="title">消息配置</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#">
                                <i class="icon-home"></i>
                                消息1</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-basket"></i>
                                消息2</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-tag"></i>
                                消息3</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-handbag"></i>
                                消息4</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-pencil"></i>
                                消息5</a>
                        </li>
                    </ul>
                </li>
                <!-- END SIDEBAR MENU -->
            </ul>
        </div>
        <!-- 主页面 -->
        <div class="page-content-wrapper">
            <div id="iframeContent" class="page-content">
                <iframe id="iframePage" style="display: none" src="/wxcq"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- 底部标识 -->
<div class="page-footer">
    <div class="page-footer-inner">
        2015 &copy; MircoStone By zhgk.
    </div>
    <!--返回头部 -->
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
{% end %}

<!-- 引入核心控件 -->
{% block corePlugin %}{% end %}
<!-- 页面插件 -->
{% block pagePlugin %}{% end %}
<!-- 页面JS -->
{% block pageJs %}
{% end %}
<!-- 页面JS -->
{% block bodyJs %}
<script>
    $(function () {
        //初始化Metronic
        Metronic.init();
        //初始化布局
        Layout.init();
        //初始化页面
        initFrame();
        //初始页面
        initMenuEvent();
    });

    //初始化主页面
    var initFrame = function () {
        $("#iframeContent").html($(document.getElementById('iframePage').contentWindow.document.body).html());
    }

    //初始化菜单事件
    var initMenuEvent = function () {
        //取得所有class为Submenu

        $(".sub-menu").find("li a").each(function(){

        });
    }
</script>
{% end %}
